
@import "galleries";
@import "understrap";
@import "nav";
@import "vars";




body {
	font-family: "Proza Libre", sans-serif;
	font-size: $font-size-text;
	background-color: $color-white;
	color: $color-black;
}

h1, h2, h3, h4, h5, h6, .title {
	font-family: "Comfortaa";
}

.spacing-bottom {
	margin-bottom: $tightness * 2;
}

a {
	color: $color-main;
}

hr {
	color: $color-alt;
	background-color: $color-alt;
	margin: $tightness 0;
}

.background-image {

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: $tightness;


}

.background-repeat {

	background-image: url("../img/always_grey.png");

	background-repeat: repeat;
	background-position: center center;
	padding: $tightness*2 0px;

	color: $color-white;

	a {
		color: $color-white;
	}
}

.site-main {
	padding-top: $tightness;
}

.widget-area {
	padding-top: $tightness*2;
}
.widget {
	margin-bottom: $tightness*2;
}

.entry-title {
	margin: $tightness 0;
}
.entry-meta {
	margin-bottom: $tightness;
}
.comment-reply-title {
	margin-top: $tightness*2;
}

.post-navigation {
	margin-bottom: $tightness*2;
}

article.post {
	border-bottom: 1px solid $color-alt;
	padding-bottom: $tightness;
	margin-bottom: $tightness*2;
}


.navbar {
	font-size: $font-size-big;
}

.navbar-brand {
	font-size: $font-size-big;

}

// Bootstrap overrides

.bg-inverse {
	background-color: $color-main !important;
}

.btn {
	background-color: $color-main;	
	border-color: darken($color-main, 10%);
	color: $color-white;
}
