
@import "galleries";
@import "understrap";
@import "nav";
@import "vars";




body {
	font-family: "Proza Libre", sans-serif;
}

h1, h2, h3, h4, h5, h6, .title {
	font-family: "Comfortaa";
}

.spacing-bottom {
	margin-bottom: $tightness * 2;
}

a {
	color: $color-main;
}

.background-image {

	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: $tightness;


}

.background-repeat {

	background-image: url("../img/always_grey.png");

	background-repeat: repeat;
	background-position: center center;
	padding: $tightness*2 0px;

	color: $color-white;
}

.site-main, .widget-area {
	padding-top: $tightness;
}


article.post {
	border-bottom: 1px solid #000;
	padding-bottom: $tightness;
	margin-bottom: $tightness;
}




// Bootstrap overrides

.bg-inverse {
	background-color: $color-main !important;
}

.btn {
	background-color: $color-main;	
	border-color: darken($color-main, 10%);
	color: $color-white;
}
